{% extends "base.html" %}
{% load url from future %}

{% block subtitle %} | Feedback{% endblock subtitle %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Thanks for your feedback</h2>
    </div>
</div>


<div class="row">
    <div class="col-md-6 col-md-offset-3">
    We read all our feedback and will response to your query/comment in due course. You will receive an email
    momentarily confirming your feedback.
    </div>
</div>

{% endblock content %}

