{% extends "base.html" %}
{% load url from future %}

{% block subtitle %} | CADD Stat{% endblock subtitle %}

{% block content %}

<ol class="breadcrumb">
  <li>CADD Stat</li>
  <li><a href="{% url 'caddstat.views.start' %}">Overview</a></li>
  <li>Tag</li>
  <li class="active">{{ tag.name }}</li>
</ol>

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">CADD Stat</h2>
    </div>
    <div class="col-md-12">
        <h3 class="text-center">Statistics for the community</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        Tests for {{ tag.name }}:

        <ul>
            {% for test in tests %}
                <li><a href="{% url test.view %}">{{ test.name }}</a></li>
            {% endfor %}
        </ul>

    </div>
</div>


{% endblock content %}
