{% load analytical %}
{% load caddstat_extras %}
{% load url from future %}

<!doctype html>
<html lang="en">
<head>
    {% analytical_head_top %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}CADD Stat{% endblock title %}{% block subtitle %}{% endblock subtitle %}</title>

    <meta name="description" content="Adding statistics to your everyday CADD problems" />

    <style type="text/css">
        @import "//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css";
        @import "//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css";
        @import "{{ STATIC_URL }}caddstat/css/caddstat.css";
    </style>

    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png" />

    {%  block subhead %}{% endblock %}
    {% analytical_head_bottom %}
</head>
<body>
    {% analytical_body_top %}
    <header>

    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'caddstat.views.start' %}">CADD Stat</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'caddstat.views.about' %}">About</a></li>
          <li><a href="{% url 'caddstat.views.feedback' %}">Feedback</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

    {% block header %}{% endblock header %}
    </header>

    <div class="row"></div>

    {% block content %}{% endblock content %}

    <div class="row">
        <div class="col-md-12"></div>
    </div>

    <footer>
    <nav class="navbar navbar-fixed-bottom">
      <ul class="nav navbar-nav navbar-left">
        <p class="navbar-text pull-left" style="font-size: 12px">
            Maintained by <a href="http://www.eyesopen.com">OpenEye Scientific Software, Inc.</a>
        </p>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <p class="navbar-text pull-right" style="font-size: 12px">
            Version: {% caddstatversion %}
        </p>
      </ul>
    </nav>
    </footer>

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    {% block scripts %}{% endblock scripts %}
    {% analytical_body_bottom %}
</body>
</html>